body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFBFA; }

.home {
  background-color: #f9faff;
  color: #272727;
  padding: 1em;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .home h1 {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    margin-bottom: 1em;
    font-weight: 800;
    text-shadow: 1px 1px #666; }
  .home h2 {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    margin-bottom: 1em;
    text-shadow: 1px 1px #666; }
  .home h3 {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    margin-bottom: 1em;
    text-shadow: 1px 1px #666; }
  .home h4 {
    color: #FFFFFF;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
    margin-bottom: 1em;
    text-shadow: 1px 1px #666; }
  .home table {
    font-size: 0.8em; }
  .home hr {
    border: 0px;
    color: #fff;
    background-color: #fff;
    height: 20px;
    display: none; }

header {
  padding: 154px 0 100px; }

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px; } }
.navbar {
  background-color: #FFFFFF;
  color: #929292;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .navbar .navbar-brand {
    color: #FFFFFF; }
  .navbar .nav-link a {
    color: #FFFFFF; }
  .navbar .navbar-toggler {
    color: #60ABDE; }
  .navbar .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif; }
  .navbar .navbar-nav .scrolled_menu_link {
    background-color: #272727; }
  .navbar .navbar-nav .dropdown-toggle {
    color: #FFFFFF; }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #FFFFFF;
    border: 0px;
    padding: 1em;
    min-width: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .navbar .navbar-nav .dropdown-menu li {
      padding-bottom: 1.5em; }
      .navbar .navbar-nav .dropdown-menu li a {
        background-color: #FFFFFF;
        font-size: 1,3em;
        text-decoration: none;
        color: #FFFFFF; }
        .navbar .navbar-nav .dropdown-menu li a .fa {
          width: 15px;
          padding-right: 1.5em; }

.img-circle {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-top: 10%;
  overflow: hidden;
  position: relative; }

.pull-right .text-muted {
  color: #929292; }

.btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn .btn-primary {
    background-color: #FFFFFF; }
  .btn .btn-link {
    color: #FFFFFF;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    text-decoration: none; }

.modal-header {
  background-color: #FFFFFF;
  color: #929292;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif; }

.card-header {
  background-color: #929292;
  text-decoration: none;
  color: #FFFFFF; }
  .card-header button {
    color: #FFFFFF;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    text-decoration: none; }

.dialog-form {
  margin-bottom: 1rem;
  text-align: left; }
  .dialog-form .label_form-check-input {
    margin-left: 40px; }
    .dialog-form .label_form-check-input .form-check-input {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-left: -40px;
      margin-top: -2px; }

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 450px;
  background-color: #f9faff;
  color: #272727;
  padding: 1em;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px; }

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px; }

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px; }

.form-control {
  border: 1px solid #d4d4d4;
  border-radius: 4px; }

.chat {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #f9faff;
  margin-bottom: 1em; }
  .chat label {
    display: block;
    font-weight: 600; }
  .chat p {
    margin-left: 2em;
    text-align: justify;
    font-style: italic; }

.teacher {
  background-color: #17a49f; }

.parents {
  background-color: #ff7932; }

.cap {
  width: 5em;
  height: 5em;
  display: table; }
  .cap span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white; }

.chatTitle {
  font-size: 1.2em;
  font-weight: 900; }

.chatTime {
  text-align: right;
  margin-right: 5%;
  font-style: italic;
  font-weight: 100;
  font-size: .8em; }

.chatHeader {
  display: flex;
  justify-content: space-between; }

.bottonBar {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  background-color: #4b4b4b;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .bottonBar .fa {
    font-size: 2em; }
  .bottonBar p {
    font-size: 0.7em;
    margin: 0px;
    width: auto;
    color: #fff; }
  .bottonBar button {
    margin: 3px; }

/*
.table-responsive {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: #fff;
}

.table {
	margin-top: 1em;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.table tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	
}
.table tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #fff;
}
*/
.boxTable table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.boxTable table * {
  position: relative; }

.boxTable table td, table th {
  padding-left: 8px; }

.boxTable table thead tr {
  height: 60px;
  background: #FFFFFF; }

.boxTable table tbody tr {
  height: 50px; }

.boxTable table tbody tr:last-child {
  border: 0; }

.boxTable table td, table th {
  text-align: left; }

.boxTable table td.l, table th.l {
  text-align: right; }

.boxTable table td.c, table th.c {
  text-align: center; }

.boxTable table td.r, table th.r {
  text-align: center; }

.boxTable .table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset; }

.boxTable tbody tr:nth-child(even) {
  background-color: #f5f5f5; }

.boxTable tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset; }

.boxTable tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer; }

.breadcrumb {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-size: 0.5em; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

#img-upload {
  width: 10em;
  height: 10em; }

.btn-primary {
  background-color: #99949F;
  border-color: #99949F; }

.buttonsControls {
  padding: 0;
  margin: 0; }

.navbar-brand {
  width: 3em;
  height: 3em; }

.logoSite {
  position: fixed;
  width: 3em;
  height: 3em;
  #margin-top: -1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10%; }

.logoSiteLogin {
  width: 5em;
  height: 5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10%; }

.fc-event .fc-content {
  position: relative;
  z-index: 2;
  background-color: darkgreen;
  color: white; }

/*# sourceMappingURL=aerado.css.map */
