
$cor-fundo: #FFFBFA;
$cor-workspace: #f9faff;
$cor-barra-menu: #FFFFFF;
$cor-texto-menu: #FFFFFF;
$cor-titulos: #FFFFFF;
$cor-texto: #272727;
$cor-legendas: #929292;
$cor-icons: #60ABDE;
$cor-iconspb: #929292;
$cor-barra-tabela: #FFFFFF;




$header-font: 'Rubik', sans-serif;
$header-font-size: 24px;
$title-font: 'Rubik', sans-serif;
$title-font-size: 24px;
$text-font: 'Rubik', sans-serif;
$text-font-size: 16px;


body {
  margin: 0px;
  padding: 0px;
  background-color: $cor-fundo;
}


.home {
  //margin-top: 4em;
  background-color: $cor-workspace;
  color:$cor-texto;
  padding: 1em;
  font-family: $text-font;
  font-size: $text-font-size;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 
 
  h1{
    color: $cor-titulos;
    font-family: $title-font;
    margin-bottom: 1em;
    font-weight: 800;
    text-shadow: 1px 1px #666;
  }
  h2{
    color: $cor-titulos;
    font-family: $title-font;
    font-weight: 800;
       margin-bottom: 1em;
       text-shadow: 1px 1px #666;
  }
  h3{
    color: $cor-titulos;
    font-family: $title-font;
    font-weight: 800;
    margin-bottom: 1em;
  
    text-shadow: 1px 1px #666;
  }
  h4{
    color: $cor-titulos;
    font-weight: 800;
    font-family: $title-font;
   margin-bottom: 1em;
   text-shadow: 1px 1px #666;
  }

  table {
    font-size: 0.8em;
  }

  hr {
      border: 0px;
      color: #fff;
      background-color: #fff;
      height: 20px;
      display: none;
    }

}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

.navbar {
  background-color: $cor-barra-menu;
  color: $cor-iconspb;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .navbar-brand {
    color: $cor-texto-menu;
  }
  .nav-link a {
    color: $cor-texto-menu;
  }
  .navbar-toggler {
    color: $cor-icons;
  } 
  
 
  .navbar-nav {
    .nav-link {
      color:$cor-texto-menu;
      font-family: $title-font;
    }
    .scrolled_menu_link {
      background-color: $cor-texto;

    }
    .dropdown-toggle {
      color: $cor-texto-menu;
    }
    .dropdown-menu {
      background-color: $cor-barra-menu;
      border: 0px;
      padding: 1em;
      min-width: 300px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    li {
         padding-bottom:  1.5em;
         a {
            background-color: $cor-barra-menu;
            font-size: 1,3em;
            text-decoration: none;
            color: $cor-texto-menu;
           
            .fa {
                width: 15px;
                padding-right: 1.5em;
            }
        }
    }
  }
  }
}

.img-circle {
  
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-top: 10%;
  overflow: hidden;
  position: relative;
}

.pull-right {
.text-muted {
  color: $cor-legendas;
}

}

.btn {
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  .btn-primary {
    background-color: $cor-barra-menu;
  }
  .btn-link{
    
    color: $cor-texto-menu;
    box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
    text-decoration: none;
   
  }
}

.modal-header {
  background-color: $cor-barra-menu;
  color: $cor-iconspb;
  color:$cor-texto-menu;
  font-family: $title-font;
}

.card-header {
  background-color: $cor-iconspb;
  text-decoration: none;
  color: $cor-texto-menu;
  button { 
    color: $cor-texto-menu;
    box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
    text-decoration: none;
    
  }
  
}

.dialog-form {
    margin-bottom: 1rem;
    text-align: left;
    
    .label_form-check-input {
        margin-left: 40px;
    
	    .form-check-input {
			    display:inline-block;
			    width:32px;
			    height:32px;
			     margin-left: -40px;
			     margin-top: -2px;
				   
		}
    
    }
    
    
}



#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 450px;
  background-color: $cor-workspace;
  color:$cor-texto;
  padding: 1em;
  font-family: $text-font;
  font-size: $text-font-size;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.form-control {
  
  border: 1px solid #d4d4d4;
  border-radius: 4px;
 
}


.chat {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: $cor-workspace;
    margin-bottom: 1em;
    label {
    	display: block;	
    	font-weight: 600;
    }
   p {
   		margin-left: 2em;
   	
    text-align: justify;
    font-style: italic;
   	}
}

.teacher {
		background-color: #17a49f;
	}
	.parents {
		background-color: #ff7932;
	}
.cap {
	width: 5em;
	height: 5em;
	display: table;
	
	span {
		 display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
	}
}

.chatTitle {
	font-size: 1.2em;
    font-weight: 900;
}

.chatTime {
	    text-align: right;
    margin-right: 5%;
    font-style: italic;
    font-weight: 100;
    font-size: .8em;
}

.chatHeader {
	display: flex;
  justify-content: space-between;
}


.bottonBar{
	display: none;
	width: 100%;
	position: fixed;
    bottom: 0;
    width: 100%;
	height: 3.5em;
	background-color: #4b4b4b;
	color: #fff;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	
	.fa {
		font-size: 2em;
	}
	p {
		font-size: 0.7em;
		margin: 0px;
		width: auto;
		color: #fff;
	}
	
	button {
		margin: 3px;
		
	}

}
/*
.table-responsive {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: #fff;
}

.table {
	margin-top: 1em;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.table tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	
}
.table tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #fff;
}
*/

.boxTable table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.boxTable table * {
  position: relative;
}
.boxTable  table td, table th {
  padding-left: 8px;
}
.boxTable  table thead tr {
  height: 60px;
  background: $cor-barra-tabela;
}
.boxTable  table tbody tr {
  height: 50px;
}
.boxTable  table tbody tr:last-child {
  border: 0;
}
.boxTable  table td, table th {
  text-align: left;
}
.boxTable  table td.l, table th.l {
  text-align: right;
}
.boxTable  table td.c, table th.c {
  text-align: center;
}
.boxTable  table td.r, table th.r {
  text-align: center;
}


.boxTable  .table100-head th{
  
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.boxTable  tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.boxTable  tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.boxTable  tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}


.breadcrumb {
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: solid 1px #ccc;
	font-size: 0.5em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 10em;
    height: 10em;
}

.btn-primary{
	background-color: #99949F;
	border-color: #99949F;
}

.buttonsControls {
    padding: 0;
    margin: 0;
}

.navbar-brand {
	width: 3em;
	height: 3em;
}
.logoSite {
	position: fixed;
	width: 3em;
	height: 3em;
	#margin-top: -1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10%;
}

.logoSiteLogin{
	width: 5em;
	height: 5em;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10%;
}

.fc-event
	{ 
		.fc-content {
    position: relative;
    z-index: 2;
    background-color: darkgreen;
    color: white;
}
}
